.search-page {

    .results-wrapper {
        color: black;
        display: grid;        
        grid-gap: 1em;
        margin-top: 1em;
    }

    .link {
        max-width: 90vw;
        
        .card {
            display: flex;
            flex-direction: row;
            max-width: 90vw;
            width: 40em;

            @media only screen and (max-width: 411px){
                flex-direction: column;
                justify-self: center;
                align-items: center;
            }

            img {
                width: 13em;
                max-width: 13em;
                margin-right: .5em;

                @media only screen and (max-width: 1024px){
                    width: 10em;
                    max-width: 10em;
                }  

                @media only screen and (max-width: 411px){
                    width: 90vw;
                    max-width: 90vw;
                    margin-right: 0em;
                    margin-bottom: .4em;
                }                     
                 
            }

            .card-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .5em;
            }

            .title {
                display: flex;
                justify-self: center;
                align-items: center;

                i {
                    margin-left: 1em;
                }
            }

            .sub-title, .url {
                font-size: .8em;
            }
            
        }
    }

    .project {
        max-width: 90vw;
        
        .card {
            display: flex;
            flex-direction: row;
            max-width: 90vw;
            width: 40em;

            @media only screen and (max-width: 411px){
                flex-direction: column;
                justify-self: center;
                align-items: center;
            }

            img {
                width: 13em;
                max-width: 13em;
                margin-right: .5em;

                @media only screen and (max-width: 1024px){
                    width: 10em;
                    max-width: 10em;
                }  

                @media only screen and (max-width: 411px){
                    width: 90vw;
                    max-width: 90vw;
                    margin-right: 0em;
                    margin-bottom: .4em;
                }                     
                 
            }

            .card-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .5em;
            }

            .title {
                display: flex;
                justify-self: center;
                align-items: center;

                i {
                    margin-left: 1em;
                }
            }

            .sub-title, .url {
                font-size: .8em;
            }
            
        }
    }
}